DATABASE_URL=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
CONTENT_SERVICE_PORT=3002

AUTH_SERVICE_URL="http://localhost:3001"
CONTENT_SERVICE_URL="http://localhost:3002"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# SMTP (notification-service)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="Atlas <yourmail@gmail.com>"
